
<p>
  Author: <%= @message.author %>
</p>

<p>
  <%= @message.content %>
</p>

<p>
  <%= @message.URL %>
</p>

<p>
Message created at: <%= @message.created_at %>
</p>

<hr/>
<a href="/messages">Back to All Messages</a>